<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title>Prueba SD</title>
  <link rel=StyleSheet href="estilo.css" type=text/css>
   
</head>
<body>
  <div id="header">
    <h1 id="logo">Prueba 1 SD&trade;</h1>
    <h2 id="slogan">Books on Python-Flask</h2>
  </div>

  <div id="menu">
    <ul>
      <li><a href="/users">Users</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/publisher">Publishers</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/book">Books</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/order">Orders</a>&nbsp;|&nbsp;</li>
      <li><a href="/">Catalog</a>&nbsp;|&nbsp;</li>
      <li><a href="/about">About</a>&nbsp;</li>
    </ul>
  </div>

  <div id="content">


  <div id="footer">
    &copy; 2015 Prueba 1 SD
  </div>  
</body>
</html>
